#preload_p1_1{ background: url(ads/p1_1.jpg) no-repeat -9999px -9999px;}
#preload_p1_2{ background: url(ads/p1_2.jpg) no-repeat -9999px -9999px;}
#preload_p1_3{ background: url(ads/p1_3.jpg) no-repeat -9999px -9999px;}
#preload_p1_4{ background: url(ads/p1_4.jpg) no-repeat -9999px -9999px;}
#preload_p2_1{ background: url(ads/p2_1.jpg) no-repeat -9999px -9999px;}
#preload_p2_2{ background: url(ads/p2_2.jpg) no-repeat -9999px -9999px;}
#preload_p2_3{ background: url(ads/p2_3.jpg) no-repeat -9999px -9999px;}
#preload_p2_4{ background: url(ads/p2_4.jpg) no-repeat -9999px -9999px;}
#preload_p3_1{ background: url(ads/p3_1.jpg) no-repeat -9999px -9999px;}
#preload_p3_2{ background: url(ads/p3_2.jpg) no-repeat -9999px -9999px;}
#preload_p3_3{ background: url(ads/p3_3.jpg) no-repeat -9999px -9999px;}
#preload_p3_4{ background: url(ads/p3_4.jpg) no-repeat -9999px -9999px;}
#preload_p3_5{ background: url(ads/p3_5.jpg) no-repeat -9999px -9999px;}
#preload_p3_6{ background: url(ads/p3_6.jpg) no-repeat -9999px -9999px;}
#preload_p3_7{ background: url(ads/p3_7.jpg) no-repeat -9999px -9999px;}